################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grocery/.vs/Grocery/FileContentIndex/177d3a24-be6b-4308-a060-e39914cc965b.vsidx
/Grocery/.vs/Grocery/FileContentIndex/19628fbd-7354-4086-a04f-9d4aa866ccc9.vsidx
/Grocery/.vs/Grocery/FileContentIndex/2f33045f-8ee9-41e2-8aec-bc164e8dbf3c.vsidx
/Grocery/.vs/Grocery/FileContentIndex/30556969-5d8b-44e4-bcb5-3006c532e35a.vsidx
/Grocery/.vs/Grocery/FileContentIndex/8cb87883-9828-4db4-a859-7997a507f690.vsidx
