################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grocery/.vs/Grocery/FileContentIndex/177d3a24-be6b-4308-a060-e39914cc965b.vsidx
