################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grocery/.vs/Grocery/FileContentIndex/177d3a24-be6b-4308-a060-e39914cc965b.vsidx
/Grocery/.vs/Grocery/FileContentIndex/19628fbd-7354-4086-a04f-9d4aa866ccc9.vsidx
/Grocery/.vs/Grocery/FileContentIndex/2f33045f-8ee9-41e2-8aec-bc164e8dbf3c.vsidx
/Grocery/.vs/Grocery/FileContentIndex/30556969-5d8b-44e4-bcb5-3006c532e35a.vsidx
/Grocery/.vs/Grocery/FileContentIndex/8cb87883-9828-4db4-a859-7997a507f690.vsidx
/Grocery/.vs/Grocery/FileContentIndex/c7e6aa68-3e33-43f4-8489-c9d7d8d4718c.vsidx
/Grocery/.vs/Grocery/FileContentIndex/31b0c0d2-1173-4af9-a114-9ccdff4e4b3f.vsidx
/Grocery/.vs/Grocery/FileContentIndex/38d27073-37fd-4457-af46-5f6b07724509.vsidx
/Grocery/.vs/Grocery/FileContentIndex/4404a0bf-c245-48bc-ad31-85db2461510b.vsidx
/Grocery/.vs/Grocery/FileContentIndex/c5404bf5-dcd9-4358-a4ad-02761a1ee7b8.vsidx
/Grocery/.vs/Grocery/FileContentIndex/30ed159f-e02d-43d4-8d77-bd99fccc5c45.vsidx
/Grocery/.vs/Grocery/FileContentIndex/c06ee888-fc84-455e-84d4-0a742b09bf0a.vsidx
/Grocery/.vs/Grocery/FileContentIndex/cb6d90af-ae17-4794-9b13-93e8d37c67fa.vsidx
/Grocery/.vs/Grocery/FileContentIndex/d27dfa6c-f15d-4005-8319-2d1f2d291b65.vsidx
/Grocery/.vs/Grocery/FileContentIndex/f0e7a9f4-a19f-455b-923b-9009609667d6.vsidx
/Grocery/.vs/Grocery/FileContentIndex/1a0b1af2-abe7-468c-8f7a-2b9cd728c538.vsidx
/Grocery/.vs/Grocery/FileContentIndex/2461a01b-072c-4c75-9216-e282dc7a8215.vsidx
/Grocery/.vs/Grocery/FileContentIndex/3532f142-54a5-4bf1-9aa7-9ede98f3fdd8.vsidx
/Grocery/.vs/Grocery/FileContentIndex/94d053ac-b002-4250-9baa-cdc0bae550cd.vsidx
/Grocery/.vs/Grocery/FileContentIndex/e851f9b1-b4ab-4881-bd06-736f82a54fa7.vsidx
/Grocery/.vs/Grocery/FileContentIndex/87ae0534-0c3b-4375-a19e-ee8edf000f46.vsidx
/Grocery/.vs/Grocery/FileContentIndex/e0c1d2db-eb40-422e-869f-a5316c7f0c65.vsidx
/Grocery/.vs/Grocery/FileContentIndex/f633466f-158c-46b2-8291-edd770fbd47e.vsidx
/Grocery/.vs/Grocery/FileContentIndex/fd8c6391-8466-4378-b6ec-e484741b1a19.vsidx
/Grocery/.vs/Grocery/FileContentIndex/700ed5a6-0e3a-47ce-bc79-5efd78f1e944.vsidx
/Grocery/.vs/Grocery/FileContentIndex/d8e925cd-6cb8-4a30-858d-c366ba31815e.vsidx
/.gitignore
/.gitignore
